@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

:root {
  --index: calc(1vw + 1vh);
}

.root {
  background-color: #090909;
  font-family: 'raleway_phasma', sans-serif;
  line-height: 1.55;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 99;
  width: 100%;
  height: calc(var(--index) * 5);
  background-image: url(../images/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -2);
}

.layers {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.layers__heading {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
  color: #f4f4e6;
  text-shadow: 0 0 20px #BD8B41;
}

.layers__title {
  margin: 0;
  margin-top: calc(var(--index) * -6);
  font-family: 'october_phasma', sans-serif;
  font-size: calc(var(--index) * 4);
  letter-spacing: calc(var(--index) / 2.5);
}

.layers__subtitle {
  margin: 0;
  font-family: 'october_phasma', sans-serif;
  font-size: calc(var(--index));
  letter-spacing: calc(var(--index) / 6);
  text-align: center;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  will-change: transform;
  z-index: 2;
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
  z-index: 0;
}

.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

.campfire {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}